.PricingCard {
  width: 20rem;
  min-height: 25rem;
  background-color: white;
  border-radius: 0.7rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 3px 30px hsla(234, 14%, 74%, 0.3);
}
.PricingCard.recommend {
  min-height: 29rem;
  background-image: var(--gradient-bg-right);
}
.PricingCard.recommend * {
  color: hsl(240, 78%, 98%);
}
.PricingCard h2 {
  font-size: 1.1rem;
  color: hsl(233, 13%, 49%);
  margin-bottom: 1rem;
  text-align: center;
}
.PricingCard h3 {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}
.PricingCard h3 span {
  font-size: 2rem;
  margin-right: 0.3rem;
}
.PricingCard hr {
  border: transparent;
  height: 1px;
  background-color: hsl(240, 17%, 89%);
}
.PricingCard p {
  text-align: center;
  margin: 1rem;
  color: hsl(233, 13%, 49%);
}
.PricingCard .btn {
  width: 100%;
  background-image: var(--gradient-bg-right);
  margin-top: 2rem;
  border: 1px solid transparent;
  padding: 0.8rem 0;
  text-transform: uppercase;
  color: hsl(240, 78%, 98%);
  font-weight: 700;
  letter-spacing: 0.1rem;
  border-radius: 0.3rem;
  transition: 0.4s;
  cursor: pointer;
}
.PricingCard.recommend .btn {
  background: hsl(240, 78%, 98%);
  color: hsl(237, 63%, 64%);
}
.PricingCard .btn:hover {
  background: none;
  border-color: hsl(237, 63%, 64%);
  color: hsl(237, 63%, 64%);
}
.PricingCard.recommend .btn:hover {
  background: none;
  border-color: hsl(240, 78%, 98%);
  color: hsl(240, 78%, 98%);
}
