.App {
  display: grid;
  place-content: center;
  min-height: 100vh;
  position: relative;
}
h1 {
  text-align: center;
  margin: 0 0 2rem;
  color: hsl(233, 13%, 49%);
}
.pricing-component {
  display: flex;
  align-items: center;
}
