.App {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-image: url("./assets/images/bg-top.svg"),
    url("./assets/images/bg-bottom.svg");
  background-position: top right, bottom left;
  background-repeat: no-repeat;
}
h1 {
  text-align: center;
  margin: 2rem 0 2rem;
  color: hsl(233, 13%, 49%);
}
.pricing-component {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 879px) {
  .pricing-component {
    flex-direction: column;
    gap: 2rem;
  }
}
