:root {
  --gradient-bg-left: linear-gradient(
    to left,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  --gradient-bg-right: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}
html {
  font-size: 15px;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
